@import './color';

.primary-button {
    color: $white-1;
    background-color: $orange-1;
    font-size: 18px;
    padding: 5px 20px;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .button-icon {
      padding: 0 0.5rem 0 0;
      font-size: 1rem;
      color: $gray-4;
    }

    &:hover {
        cursor: pointer;
        color: $white-2;
        background-color: $orange-2;

        .button-icon {
          color: $gray-5;
        }
    }
}


.close-x {
    position: absolute;
    right: 9px;
    top: 11px;
    width: 26px;
    height: 26px;
    opacity: 0.6;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 26px;
        width: 0.2rem;
        background-color: $orange-2;
    }

    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}





/* Checkbox*/
.checkbox-label {
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;


    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkbox-custom {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 5px;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        border: 2px solid $white-2;
    }

    input:checked ~ .checkbox-custom {
        background-color: $orange-2;
        border-radius: 5px;
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        opacity:1;
        border: 2px solid $white-2;
    }

    .checkbox-custom::after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        height: 0px;
        width: 0px;
        border-radius: 5px;
        border: solid $white-2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(0deg) scale(0);
        -ms-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        opacity:1;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
    }

    .checkbox-custom::after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        height: 0px;
        width: 0px;
        border-radius: 5px;
        border: solid $white-2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(0deg) scale(0);
        -ms-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        opacity:1;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
    }

    input:checked ~ .checkbox-custom::after {
        -webkit-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
        opacity:1;
        left: 8px;
        top: 3px;
        width: 6px;
        height: 12px;
        border: solid $white-2;
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0;
    }
}
