@import './color';

.primary-button {
    color: $white-1;
    background-color: $orange-1;
    font-size: 18px;
    padding: 5px 20px;
    border: 0 none;
  
    &:hover {
        cursor: pointer;
        color: $white-2;
        background-color: $orange-2;
    }
}