/* Colors */

$green-1: #00804a;
$green-2: #00a862;

$blue-3: #1d515a;

$gray-1: #ccc;
$gray-3: #333;

$white-1: #fff;
$white-2: #f1f1f1;
$white-3: #f0f0f0;

$orange-1: #ff9800;
$orange-2: #ff8700;

$red-1: red;

$black: #000;