/* Colors */

$green-1: #00804a;
$green-2: #00a862;

$blue-3: #1d515a;

$gray-1: #ccc;
$gray-2: #828282;
$gray-3: #6e6e6e;
$gray-4: #4b4646;
$gray-5: #333;

$white-1: #fff;
$white-2: #f1f1f1;
$white-3: #f0f0f0;
$white-4: #f3f3f3;

$orange-1: #ff9800;
$orange-2: #ff8700;

$red-2: #ef45b8;

$black: #000000;
