<div class="display-options">
  <span class="field-label">Display Cycle:</span>
  <select #amountCycle class="field-cycle"
          (change)=bindCycleChangeSubject(amountCycle.value)>
    <option [value]="item.value" *ngFor="let item of cycleArr">
      {{item.key}}</option>
  </select>
</div>
<div class="display-container">
  
  <div *ngIf="single" class="single-chart">
      <ngx-charts-bar-vertical
        class="chart-wrapper"
        [view]="view"
        [scheme]="colorSchemeSingle"
        [results]="displayDataSingle"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
  </div>

  <div *ngIf="multi" class="multiple-chart">
      <ngx-charts-bar-vertical-2d
        class="chart-wrapper"
        [view]="view"
        [scheme]="colorSchemeMulti"
        [results]="displayDataMulti"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d>
  </div>
  
</div>
