.display-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
  width: 100%;
  box-sizing: border-box;
}

.chart-wrapper {
  margin: 0 auto;
  width: 700px; /* keep align with viewport states at ts view field */
  box-sizing: border-box;
  display: block;
}
