<div class="display-options">
    <div class="cycle-col">
        <span class="field-label">Display Cycle:</span>
        <select #amountCycle class="field-cycle"
                (change)=bindCycleChangeSubject(amountCycle.value)>
            <option [value]="item.value"
                    *ngFor="let item of cycleArr">
                    {{item.key}}
            </option>
        </select>
    </div>
    <div class="year-col" *ngIf="yearEnable">
        <span class="field-label">for</span>
        <input #year class="field-year" type="number" [value]="1" (change)="bindYearChangeSubject($event)">
        <span class="field-label">year</span>
    </div>

</div>
<div class="display-container">

  <div *ngIf="single" class="single-chart">
      <ngx-charts-bar-vertical
        class="chart-wrapper"
        [view]="view"
        [scheme]="colorSchemeSingle"
        [results]="displayDataSingle"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [roundEdges]="false"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
  </div>


  <!-- [roundEdges]="false" to make d3 console error go away  -->
  <div *ngIf="multi" class="multiple-chart">
      <ngx-charts-bar-vertical-2d
        class="chart-wrapper"
        [view]="view"
        [scheme]="colorSchemeMulti"
        [results]="displayDataMulti"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [roundEdges]="false"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d>
  </div>

</div>
