.display-options {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 3rem;
  text-align: center;
}

.display-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
  width: 100%;
  box-sizing: border-box;
}

.chart-wrapper {
  margin: 0 auto;
  width: 700px; /* keep align with viewport states at ts view field */
  box-sizing: border-box;
  display: block;
}

.field-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
}

.field-cycle  {
  height: 1.75rem;
  font-size: 0.7rem;
  margin-left: 0.25rem;
  vertical-align: top;
  margin-top: -0.125rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;

  &:hover {
    cursor: pointer;
  }
}
