<div class="display-options">
  <span class="">Display Cycle</span>:
  <select #amountCycle [value]="displayCalCycle"
          (change)=bindCycleChangeSubject(amountCycle.value)>
    <option [value]="item.value" *ngFor="let item of cycleArr">
      {{item.key}}</option>
  </select>
</div>
<div class="display-container">
  <ngx-charts-bar-vertical
    class="chart-wrapper"
    [view]="view"
    [scheme]="colorScheme"
    [results]="displayData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>
