@import '../../../styles/index.scss';

.display-options {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 3.25rem 0 0 0;
  text-align: center;

  .cycle-col,
  .year-col {
    display: inline-block;
  }
}

.display-container {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding: 1.25rem 3rem;
  width: 100%;
  box-sizing: border-box;

  @media only screen and (max-width: $large-view-port) {
    padding: 3rem 0;
  }

}

.chart-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

.field-label {
  font-size: 1.25rem;
  padding: 0 0.5rem;
}

.field-cycle  {
  height: 1.75rem;
  font-size: 0.7rem;
  vertical-align: top;
  margin-top: -0.125rem;
  border: 1px solid $gray-1;
  background-color: $white-1;
  border-radius: 0.25rem;

  &:hover {
    cursor: pointer;
  }
}
.field-year {
  height: 1.5rem;
  width: 50px;
  font-size: 0.85rem;
  vertical-align: top;
  margin-top: -0.125rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.25rem;
  padding-left: 8px;

  &:hover {
    cursor: pointer;
  }
}
