<div *ngIf="show" class="modal-root">
    <div *ngIf="modalType === 'Close Type'" class="close-x" (click)="closeModal()"></div>
    
    <ng-content></ng-content>

    <div *ngIf="modalType === 'Confirmation Type'" class="button-container">
        <div class="primary-button" (click)="confirmClick()">{{confirmButtonText}}</div>
        <div class="primary-button" (click)="closeModal()">{{cancelButtonText}}</div>
    </div>
</div>

<!-- // TODO:: make this a global backdrop componet which will stop all event and lock scroll -->
<div *ngIf="show" class="modal-backdrop"
    (click)="backDropClick($event)" (scroll)="backDropScroll($event)"></div>