<div class="header">

    <span class="title" routerLink="/">EX</span>

    <div class="account">
        <span *ngIf="!hasLogin">
            <div class="text-button" (click)="showModal(SIGN_IN)">
                <span>Sign in</span>
            </div>
            <span class="text">/</span>
            <div class="text-button" (click)="showModal(SIGN_UP)">
                <span>Sign up</span>
            </div>
        </span>
        <span *ngIf="hasLogin">
            <span class="text">
              <fa-icon class="text-icon" [icon]="userIcon"></fa-icon>
              <span class="capitalize">{{ userName }}</span>
            </span>
            <span class="text">/</span>
            <div class="text-button" (click)="logOut()">
              <span>Sign out</span>
            </div>
        </span>

        <app-modal [show]="accountModalShow" [modalType]="modalType" (cancelationClick)="closeHandle()">
            <div class="tab-wrapper">
                <div #tab class="tab-item signin" (click)="activeTab(SIGN_IN)">Sign in</div>
                <div #tab class="tab-item signup" (click)="activeTab(SIGN_UP)">Sign up</div>
            </div>
            <app-signin *ngIf="activeTap === SIGN_IN" [show]="accountModalShow"></app-signin>
            <app-signup *ngIf="activeTap === SIGN_UP" (registerCompleted)="activeTab(SIGN_IN)"></app-signup>
        </app-modal>

    </div>

</div>
