<div class="tab-content sign-up">

    <!-- // TODO:: Ouath2  -->
    <!-- <div class="sign-up-method">
        <button class="primary-button">Sign up with google</button>
    </div>
    
    <div class="separator">or</div>

    <div class="sign-up-method">
        <button class="primary-button">Sign up with facebook</button>   
    </div>

    <div class="separator">or</div> -->

    <div class="sign-up-method">

        <form name="signupForm" [formGroup]="signupForm" class="account-form">

            <div class="account-field" [ngClass]="{'field-error' :
                        signupForm.get('email').touched && signupForm.get('email').invalid}">

                <input #email type="text" placeholder="email" formControlName="email" 
                        (keyup)="bindEmailChangeSubject(email.value)">

                <div *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid"
                    class="field-message"><div class="tip"></div>
                    email is required
                </div>

            </div>

            <div class="account-field"  [ngClass]="{'field-error' :
                        signupForm.get('userName').touched && signupForm.get('userName').invalid}">

                <input #userName type="text" placeholder="user name" formControlName="userName"
                        (keyup)="bindUserNameChangeSubject(userName.value)">

                <div *ngIf="signupForm.get('userName').touched && signupForm.get('userName').invalid"
                    class="field-message"><div class="tip"></div>
                    user name is required
                </div>
            </div>

            <div class="account-field" [ngClass]="{'field-error' :
                        signupForm.get('password').touched && signupForm.get('password').invalid}">

                <input #password type="password" placeholder="password"formControlName="password"
                        (keyup)="bindPasswordChangeSubject(password.value)">

                <div *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid"
                    class="field-message"><div class="tip"></div>
                    password is required
                </div>
            </div>

            <button class="primary-button" (click)="signupClick()">Create account</button>

        </form>

    </div>

    <div class="privacy-link">Privacy & Terms</div>

</div>