<div class="tab-content sign-up">

    <!-- // TODO:: Ouath2  -->
    <!-- <div class="sign-up-method">
        <button class="primary-button">Sign up with google</button>
    </div>

    <div class="separator">or</div>

    <div class="sign-up-method">
        <button class="primary-button">Sign up with facebook</button>
    </div>

    <div class="separator">or</div> -->

    <div class="sign-up-method">

        <form name="signupForm" [formGroup]="signupForm" class="account-form">

            <div *ngIf="registerSuccess" class="success-message">
                Register successful, login in 3 sec!
            </div>

            <div *ngIf="registerError" class="error-message">
                Register failed, please try later!
            </div>

            <div class="account-field" [ngClass]="{'field-error' :
                        signupForm.get('email').touched && signupForm.get('email').invalid}">

                <input #email type="text" placeholder="email" formControlName="email"
                        (keyup)="bindEmailChangeSubject(email.value)">

                <div *ngIf="signupForm.get('email').touched
                          && signupForm.get('email').invalid
                          && !signupForm.get('email').hasError('notUnique')
                          && !signupForm.get('email').pristine"
                    class="field-message"><div class="tip"></div>
                    email is required
                </div>
                <div *ngIf="signupForm.get('email').touched
                           && signupForm.get('email').hasError('notUnique')"
                     class="field-message"><div class="tip"></div>
                    email already existed
                </div>

            </div>

            <div class="account-field"  [ngClass]="{'field-error' :
                        signupForm.get('userName').touched
                        && signupForm.get('userName').invalid}">

                <input #userName type="text" placeholder="user name" formControlName="userName"
                        (keyup)="bindUserNameChangeSubject(userName.value)">

                <div *ngIf="signupForm.get('userName').touched
                          && signupForm.get('userName').invalid
                          && !signupForm.get('userName').pristine"
                    class="field-message"><div class="tip"></div>
                    user name is required
                </div>
            </div>

            <div class="account-field" [ngClass]="{'field-error' :
                        signupForm.get('password').touched
                        && signupForm.get('password').invalid}">

                <input #password type="password" placeholder="password"formControlName="password"
                        (keyup)="bindPasswordChangeSubject(password.value)">

                <div *ngIf="signupForm.get('password').touched
                            && signupForm.get('password').invalid
                            && !signupForm.get('password').pristine"
                    class="field-message"><div class="tip"></div>
                    password is required
                </div>
            </div>

            <button class="primary-button" (click)="signupClick()">
                <fa-icon class="button-icon" [icon]="signUpIcon"></fa-icon>
                <span>Create account</span>
            </button>

        </form>

    </div>

    <div class="privacy-link">Privacy & Terms</div>

</div>
