@import './styles/index.scss';


// TODO:: move to its own module
.footer {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  clear: both;
}

.signature {
  text-align: center;
  padding-top: 3rem;
  color: $gray-1;
  font-size: 0.7rem;
  font-weight: 100;
}

.copy-right {
  text-align: center;
  padding: 0.5rem 0  2rem;
  color: $white-3;
  font-size: 0.85rem;
  font-weight: 100;
}
