@import '../../../../styles/index.scss';

.not-found {

    text-align: center;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding-top: 100px;

    .title {
        color: $orange-2;
        font-size: 7rem;
        padding: 0 0 2rem 0;
    }

    .message {
        font-size: 1.2rem;
        color: $orange-1;
    }

    .image {
        padding: 2rem 0 8rem 0;
    }

}