<div *ngIf="data">
  <app-input-group-component [groupData]="data.constantIncome" [groupType]="groupType.CONSTANT_INCOME">
  </app-input-group-component>
  <app-input-group-component [groupData]="data.constantExpense" [groupType]="groupType.CONSTANT_EXPENSE">
  </app-input-group-component>
  <app-input-group-component [groupData]="data.periodicalVarible" [groupType]="groupType.PERIODICAL_VARIBLE">
  </app-input-group-component>
  <app-input-group-component [groupData]="data.staticVariable" [groupType]="groupType.STATIC_VARIBLE">
  </app-input-group-component>
</div>
<div *ngIf="!data">...loading</div>
