@import '../../../styles/index';

/**
 *  Input Container
 */

.input-wrapper {
  width: 100%;
  padding-top: 155px;
}

.input-projection-name {
  display: block;
  text-align: center;
}


.input-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: $white-1;
  padding: 0 10px 20px;
  z-index: $lvl-1;
  box-sizing: border-box;
}

.primary-button {
  width: 200px;
  height: 42px;
}

.input-section {
  display: inline-block;
  vertical-align: top;
}

.constant-income,
.constant-expense {
  width: 30%;
}

.periodic-variable {
  width: 40%;
}

.group-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.3rem 0.5rem 0.25rem 0.5rem;
    font-size: 1.4rem;
    color: $gray-3;
}

button {
    width: 100%;
    border-radius: 0 0 3px 3px;
    padding: 10px 0;
    background-color: $green-2;
    color: $white-1;
    font-size: 1rem;
    box-sizing: border-box;
    border-left: 1px solid $white-3;
    border-top: 1px solid $white-3;
    outline: 0 none;

    &:hover {
      background-color: $green-1;
      cursor: pointer;
    }
}


/**
 *  Item component
 */

.periodic-item,
.constant-item {
  border-bottom: 1px solid $white-2;
  border-left: 1px solid $white-2;
  padding: 0.5rem 0.5rem;
}


.item-checkbox {
  display: inline-block;
  width: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.item-form {
  display: inline-block;
  font-size: 1.4rem;



  .input-field {
    display: inline-block;

    input {
      height: 1.75rem;
      width: 100%;
      font-size: 0.9rem;
      vertical-align: middle;
      box-sizing: border-box;
      border-radius: 0.25rem;
      box-shadow: none;
      border: 1px solid $gray-1;
      padding-left: 5px;
    }
  }

  .field-cycle  {
    height: 1.75rem;
    font-size: 0.7rem;
    margin-left: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid $gray-1;
    vertical-align: middle;
    &:hover {
      cursor: pointer;
    }
  }

  .field-name {
    width: 170px;
  }

  .field-amount {
    position: relative;
    width: 100px;
    margin-left: 0.25rem;

    label {
      position: absolute;
      font-size: 0.9rem;
      font-family: 'arial';
      top: 7px;
      left: 4px;
      color: $blue-3;
    }

    input {
      padding-left: 12px;
    }
  }

  .field-affective {
    margin-left: 0.25rem;
    width: 100px;
  }

}

.close-x {
  color: $white-1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  vertical-align: middle;
  float: right;
  border: 1px solid;
  padding: 0 0.4rem;
  border-radius: 0.25rem;
  height: 1.35rem;
  line-height: 1.25rem;
  background-color: $orange-1;
  margin-top: 0.25rem;

  &:hover {
    background: $orange-2;
  }
}

.clear-both {
  clear: both;
}

.field-error {
  input {
    border: 1px solid $red-1;
  }
  .field-message {
    color: $red-1;
  }
}


// this is more of for the compare view, TODO:: try to move this to compare module later
.compare-wrapper {

    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .compare-item {
        
        flex: 1;

        .input-heading {
          position: relative;
          top: 0;
          left: 0;
        }

        .input-section {
          display: block;
          width: 100%;
        }

        .group-items {
          border-right: 1px solid $white-3;
        }

        .input-projection-name input {
          text-align: left;
        }

    }

}
