<div *ngIf="data" class="input-wrapper">

  <div class="input-heading">
      <!-- TODO:: only index 0 show back button, and style it -->

      <div class="input-projection-name">
          <app-name-component [projectionId]="data.id" [name]="data.name"
            (update)="hasUpdated($event)"></app-name-component>
      </div>

      <div class="left-wrapper modal-anchor">
          <button class="primary-button" (click)="backClick()">
              <fa-icon class="button-icon" [icon]="backIcon"></fa-icon>
              <span>Back</span>
          </button>
          <app-modal [show]="backModalShow" [modalType]="modalType.CONFIRMATION_TYPE"
                     [confirmButtonText]="'Save'" [cancelButtonText]="'Skip'"
                     (confirmationClick)="backModalConfirmationHandle()"
                     (cancelationClick)="backModalCancelHandle()">
            Changes have not yet been saved
          </app-modal>
      </div>
      <div class="right-wrapper">
          <button *ngIf="!isSampleProjection" class="primary-button" (click)="handleSave()">
              <fa-icon class="button-icon" [icon]="saveIcon"></fa-icon>
              <span>Save</span>
          </button>
      </div>

  </div>

  <section class="input-section constant-income" (dragover)="dragOver($event)" (drop)="dragItemPickup(groupType.CONSTANT_INCOME)">

    <div *ngIf="!isCompareView else incomeExpandable" class="group-title">
      {{groupType.CONSTANT_INCOME}}
    </div>
    <ng-template #incomeExpandable>
      <div class="group-title" (click)="toggleSection(groupType.CONSTANT_INCOME)">
        <div class="compare-title">
          <span>{{groupType.CONSTANT_INCOME}}</span>
          <fa-icon class="expandable" [icon]="incomeCaret()"></fa-icon>
        </div>
      </div>
    </ng-template>

    <div class="group-content" *ngIf="showIncomeSection || !isCompareView">
        <app-quick-input-component [projectionId]="data.id" [itemGroupType]="groupType.CONSTANT_INCOME"></app-quick-input-component>
        <button (click)="addConstantIncomeItem()">
            <fa-icon class="button-icon" [icon]="plusIcon"></fa-icon>
            <span>Add Item</span>
        </button>
        <div (dragover)="dragOver($event, groupType.CONSTANT_INCOME)" (dragend)="dragEnd($event)"
            [ngClass]="{ 'constant-drop-section-effect' : constantDropEffect }">
            <div class="group-items" [ngStyle]="{'min-height': groupHeight().income}">
              <div *ngIf="data.constantIncome && data.constantIncome.length > 0">
                  <div *ngFor="let item of data.constantIncome; trackBy: trackByItem">
                    <app-constant-item-component [projectionId]="data.id" [itemData]="item"
                        [itemGroupType]="groupType.CONSTANT_INCOME" (update)="hasUpdated($event)">
                    </app-constant-item-component>
                  </div>
              </div>
          </div>
        </div>
    </div>

  </section>

  <section class="input-section constant-expense" (drop)="dragItemPickup(groupType.CONSTANT_EXPENSE)">

    <div *ngIf="!isCompareView else expenseExpandable" class="group-title">
      <span>{{groupType.PERIODICAL_VARIABLE}}</span>
    </div>
    <ng-template #expenseExpandable>
      <div *ngIf="isCompareView" class="group-title" (click)="toggleSection(groupType.CONSTANT_EXPENSE)">
        <div class="compare-title">
          <span>{{groupType.CONSTANT_EXPENSE}}</span>
          <fa-icon class="expandable" [icon]="expenseCaret()"></fa-icon>
        </div>
      </div>
    </ng-template>

    <div class="group-content" *ngIf="showExpenseSection || !isCompareView">
        <app-quick-input-component [projectionId]="data.id" [itemGroupType]="groupType.CONSTANT_EXPENSE"></app-quick-input-component>
        <button (click)="addConstantExpenseItem()">
            <fa-icon class="button-icon" [icon]="plusIcon"></fa-icon>
            <span>Add Item</span>
        </button>
        <div (dragover)="dragOver($event, groupType.CONSTANT_EXPENSE)" (dragend)="dragEnd($event)"
             [ngClass]="{ 'constant-drop-section-effect' : constantDropEffect }">
          <div class="group-items" [ngStyle]="{'min-height': groupHeight().expense}">
            <div *ngIf="data.constantExpense && data.constantExpense.length > 0">
              <div *ngFor="let item of data.constantExpense; trackBy: trackByItem">
                <app-constant-item-component [projectionId]="data.id" [itemData]="item"
                                             [itemGroupType]="groupType.CONSTANT_EXPENSE" (update)="hasUpdated($event)">
                </app-constant-item-component>
              </div>
            </div>
          </div>
        </div>
    </div>

  </section>

  <section class="input-section periodic-variable" (drop)="dragItemPickup(groupType.PERIODICAL_VARIABLE)">

    <div *ngIf="!isCompareView else periodicExpandable" class="group-title">
        <span>{{groupType.PERIODICAL_VARIABLE}}</span>
    </div>
    <ng-template #periodicExpandable>
      <div class="group-title" (click)="toggleSection(groupType.PERIODICAL_VARIABLE)">
        <div class="compare-title">
          <span>{{groupType.PERIODICAL_VARIABLE}}</span>
          <fa-icon class="expandable" [icon]="periodicCaret()"></fa-icon>
        </div>
      </div>
    </ng-template>

    <div class="group-content" *ngIf="showPeriodicSection || !isCompareView">
        <app-quick-input-component [projectionId]="data.id" [itemGroupType]="groupType.PERIODICAL_VARIABLE"></app-quick-input-component>
        <button (click)="addPeriodicalVaribleItem()">
            <fa-icon class="button-icon" [icon]="plusIcon"></fa-icon>
            <span>Add Item</span>
        </button>
        <div (dragover)="dragOver($event, groupType.PERIODICAL_VARIABLE)" (dragend)="dragEnd($event)"
             [ngClass]="{ 'periodic-drop-section-effect' : periodicDropEffect }">
            <div class="group-items" [ngStyle]="{'min-height': groupHeight().periodic}">
                <div *ngIf="data.periodicalVariable && data.periodicalVariable.length > 0" >
                    <div *ngFor="let item of data.periodicalVariable; trackBy: trackByItem">
                        <app-periodic-item-component [projectionId]="data.id" [itemData]="item"
                                                     [itemGroupType]="groupType.PERIODICAL_VARIABLE" (update)="hasUpdated($event)">
                        </app-periodic-item-component>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </section>

  <!--TODO:: STATIC_VARIBLE-->

</div>
<div *ngIf="!data">...loading</div>
