<div *ngIf="data" class="input-wrapper">
  
  <div class="input-heading">
      <!-- TODO:: only index 0 show back button, and style it -->
      <div class="modal-anchor" *ngIf="!compareIndex && compareIndex !== 0">
          <button class="primary-button" (click)="backClick()">
              <span class="icon-back-arrow">&#8249;</span>Back
          </button>
          <app-modal [show]="backModalShow" [modalType]="modalType.CONFIRMATION_TYPE" 
                     [confirmButtonText]="'Save'" [cancelButtonText]="'Skip'"
                     (confirmationClick)="backModalConfirmationHandle()" 
                     (cancelationClick)="backModalCancelHandle()">
              Changes have not yet been saved
          </app-modal>
      </div>

      <div class="input-projection-name">
          <app-name-component [projectionId]="data.id" [name]="data.name" 
            (update)="hasUpdated($event)"></app-name-component>
      </div>
      <button class="primary-button" (click)="handleSave()">Save Projection</button>
  </div>

  <section class="input-section constant-income" (dragover)="dragOver($event)" (drop)="dragItemPickup(groupType.CONSTANT_INCOME)">
    <div class="group-title">{{groupType.CONSTANT_INCOME}}</div>
    <app-quick-input-component [projectionId]="data.id" [itemGroupType]="groupType.CONSTANT_INCOME"></app-quick-input-component>
    <button (click)="addConstantIncomeItem()">Add Constant Income Item</button>
    <div (dragover)="dragOver($event, groupType.CONSTANT_INCOME)" (dragend)="dragEnd($event)" 
        [ngClass]="{ 'constant-drop-section-effect' : constantDropEffect }">
      <div *ngIf="data.constantIncome && data.constantIncome.length > 0" class="group-items">
        <div *ngFor="let item of data.constantIncome; trackBy: trackByItem">
          <app-constant-item-component [projectionId]="data.id" [itemData]="item"
              [itemGroupType]="groupType.CONSTANT_INCOME" (update)="hasUpdated($event)">
          </app-constant-item-component>
        </div>
      </div>
    </div>
  </section>

  <section class="input-section constant-expense" (drop)="dragItemPickup(groupType.CONSTANT_EXPENSE)">
    <div class="group-title">{{groupType.CONSTANT_EXPENSE}}</div>
    <app-quick-input-component [projectionId]="data.id" [itemGroupType]="groupType.CONSTANT_EXPENSE"></app-quick-input-component>
    <button (click)="addConstantExpenseItem()">Add Constant Expense Item</button>
    <div (dragover)="dragOver($event, groupType.CONSTANT_EXPENSE)" (dragend)="dragEnd($event)"
        [ngClass]="{ 'constant-drop-section-effect' : constantDropEffect }">
      <div *ngIf="data.constantExpense && data.constantExpense.length > 0" class="group-items">
        <div *ngFor="let item of data.constantExpense; trackBy: trackByItem">
          <app-constant-item-component [projectionId]="data.id" [itemData]="item"
              [itemGroupType]="groupType.CONSTANT_EXPENSE" (update)="hasUpdated($event)">
          </app-constant-item-component>
        </div>
      </div>
    </div>
  </section>

  <section class="input-section periodic-variable" (drop)="dragItemPickup(groupType.PERIODICAL_VARIBLE)">
    <div class="group-title">{{groupType.PERIODICAL_VARIBLE}}</div>
    <app-quick-input-component [projectionId]="data.id" [itemGroupType]="groupType.PERIODICAL_VARIBLE"></app-quick-input-component>
    <button (click)="addPeriodicalVaribleItem()">Add Periodical Variable Item</button>
    <div (dragover)="dragOver($event, groupType.PERIODICAL_VARIBLE)" (dragend)="dragEnd($event)"
        [ngClass]="{ 'periodic-drop-section-effect' : periodicDropEffect }">
      <div *ngIf="data.periodicalVariable && data.periodicalVariable.length > 0" class="group-items">
        <div *ngFor="let item of data.periodicalVariable; trackBy: trackByItem">
          <app-periodic-item-component [projectionId]="data.id" [itemData]="item"
              [itemGroupType]="groupType.PERIODICAL_VARIBLE" (update)="hasUpdated($event)">
          </app-periodic-item-component>
        </div>
      </div>
    </div>
    
  </section>
  
  <!--TODO:: STATIC_VARIBLE-->

</div>
<div *ngIf="!data">...loading</div>
