<div class="periodic-item">
    <input type="checkbox" [checked]="itemData.active" class="item-checkbox"
           (change)=bindActiveChangeSubject(!itemData.active) />

    <form name="periodicForm" [formGroup]="periodicForm" class="item-form">

      <div class="input-field field-name" [ngClass]="{'field-error' :
        periodicForm.get('name').touched && periodicForm.get('name').invalid}">
        <input #name type="text" value="{{itemData.name}}"
               formControlName="name"
               (keyup)="bindNameChangeSubject(name.value)"/>
        <div *ngIf="periodicForm.get('name').touched && periodicForm.get('name').invalid"
             class="field-message">
          name is required
        </div>
      </div>

      <div class="input-field field-amount" [ngClass]="{'field-error' :
        periodicForm.get('amount').touched && periodicForm.get('amount').invalid}">
        <label>$</label>
        <input #amount type="text" value="{{itemData.amount}}"
               formControlName="amount"
               (keyup)="bindAmountChangeSubject(amount.value)"/>
        <div *ngIf="periodicForm.get('amount').touched && periodicForm.get('amount').invalid"
             class="field-message">
          amount is required
        </div>
      </div>

      <select #amountCycle [value]="itemData.cycle" class="field-cycle"
              (change)=bindCycleChangeSubject(amountCycle.value)>
        <option [value]="item.value" *ngFor="let item of cycleArr">
          {{item.key}}</option>
      </select>

      <div class="input-field field-affective" [ngClass]="{'field-error' :
        periodicForm.get('affectiveMonth').touched && periodicForm.get('affectiveMonth').invalid}">
        <input #month type="text" value="{{affectiveMonth}}"
               formControlName="affectiveMonth"
               (keyup)="bindMonthChangeSubject(month.value)"/>
        <div *ngIf="periodicForm.get('affectiveMonth').touched && periodicForm.get('affectiveMonth').invalid"
             class="field-message">
          affectiveMonth is required
        </div>
      </div>

    </form>

    <span class="close-x" (click)="removeItem()">x</span>
    <span class="clear-both"></span>
</div>
