<div class="periodic-item" [ngClass]="{'drag-item-effect' : dragEffect}" draggable="true"
    (dragstart)="dragItemStart()" (dragend)="dragItemEnd()">

    <label class="checkbox-label">
        <input type="checkbox" [checked]="itemData.active" class="item-checkbox"
            (change)=bindActiveChangeSubject(!itemData.active) />
        <span class="checkbox-custom"></span>
    </label>
    
    <form name="periodicForm" [formGroup]="periodicForm" class="item-form">

      <div class="input-field field-name" [ngClass]="{'field-error' :
        periodicForm.get('name').touched && periodicForm.get('name').invalid}">
        <input #name type="text" value="{{itemData.name}}"
               formControlName="name"
               (keyup)="bindNameChangeSubject(name.value)"/>
        <div *ngIf="periodicForm.get('name').touched && periodicForm.get('name').invalid"
             class="field-message"><div class="tip"></div>
          name is required
        </div>
      </div>

      <div class="input-field field-amount periodic-amount" [ngClass]="{'field-error' :
        periodicForm.get('amount').touched && periodicForm.get('amount').invalid}">
        <label>$</label>
        <input #amount type="text" value="{{itemData.amount}}"
               formControlName="amount"
               (keyup)="bindAmountChangeSubject(amount.value)"/>
        <div *ngIf="periodicForm.get('amount').touched && periodicForm.get('amount').invalid"
             class="field-message"><div class="tip"></div>
          amount can not be 0
        </div>
      </div>

      <select #amountCycle [value]="itemData.cycle" class="field-cycle"
              formControlName="cycle"
              (change)=bindCycleChangeSubject(amountCycle.value)>
        <option [value]="item.value" *ngFor="let item of cycleArr">
          {{item.key}}</option>
      </select>

      <div class="input-field field-affective end" [ngClass]="{'field-error' :
        periodicForm.get('affectiveMonth').touched && periodicForm.get('affectiveMonth').invalid}">
        <input #month type="text" value="{{affectiveMonth}}"
               formControlName="affectiveMonth"
               (keyup)="bindMonthChangeSubject(month.value)"/>
        <div *ngIf="periodicForm.get('affectiveMonth').touched && periodicForm.get('affectiveMonth').invalid"
             class="field-message"><div class="tip"></div>
          months are 1 to 12 seperated by ,
        </div>
      </div>

    </form>

    <span class="close-x" (click)="removeItem()"></span>

</div>
