<div *ngIf="compares && compares.length > 0" class="compare-wrapper">
    <div *ngFor="let data of compares; trackBy: trackByItem; let i = index" class="compare-item">
        <app-input-container
            [index]="i"
            [data]="data"
            [isNewProjection]="false"
            [isCompareView]="true"
            [constantIncomeMaxRow]="constantIncomeMaxRow"
            [constantExpenseMaxRow]="constantExpenseMaxRow"
            [periodicMaxRow]="periodicMaxRow"
            [constantItemHeight]="constantItemHeight"
            [periodicItemHeight]="periodicItemHeight"
            [showIncomeSection]="showIncomeSection"
            [showExpenseSection]="showExpenseSection"
            [showPeriodicSection]="showPeriodicSection"
            (toggleSectionClick)="trackSectionToggle($event)"></app-input-container>
    </div>
</div>
<app-display-container [multi]="compares"></app-display-container>
