<div class="constant-item">

  <label class="checkbox-label">
    <input type="checkbox" [checked]="itemData.active" class="item-checkbox"
          (change)=bindActiveChangeSubject(!itemData.active) />
      <span class="checkbox-custom"></span>
  </label>

  <form name="constantForm" [formGroup]="constantForm" class="item-form">

    <div class="input-field field-name" [ngClass]="{'field-error' :
      constantForm.get('name').touched && constantForm.get('name').invalid}">
      <input #name type="text" value="{{itemData.name}}"
             formControlName="name"
             (keyup)="bindNameChangeSubject(name.value)"/>
      <div *ngIf="constantForm.get('name').touched && constantForm.get('name').invalid"
           class="field-message"><div class="tip"></div>
           name is required
      </div>
    </div>

    <div class="input-field field-amount" [ngClass]="{'field-error' :
      constantForm.get('amount').touched && constantForm.get('amount').invalid}">
      <label>$</label>
      <input #amount type="number" value="{{itemData.amount}}"
             formControlName="amount"
             (keyup)="bindAmountChangeSubject(amount.value)"/>
      <div *ngIf="constantForm.get('amount').touched && constantForm.get('amount').invalid"
           class="field-message"><div class="tip"></div>
        amount is required
      </div>
    </div>

    <select #amountCycle [value]="itemData.cycle" class="field-cycle"
            formControlName="cycle"
            (change)=bindCycleChangeSubject(amountCycle.value)>
      <option [value]="item.value" *ngFor="let item of cycleArr">
        {{item.key}}</option>
    </select>

  </form>

  <span class="close-x" (click)="removeItem()"></span>

</div>
